# **##ask keith
1. The model optimization and evaluation process showing iterative changes made to the model and the resulting changes in model performance is documented in either a CSV/Excel table or in the Python script itself (15 points)**

##2. do we have to show the model code or just the outcome and what led us to choose features

# ## 3. do we have to visualize the new dataset outcome to prove the effectivness of the model **bold text**


show what features changed to get where we are.
add vis for new data
### for me ( WRITE DOWN ALL STEPS AND ERRORS I ENCOOUNTERED AND WHAT FEATURES WE PLAYED WITH TO GET WHERE WE ARE)


DROP ATT FROM X AND KEEEP IN Y FOR ATTRITION SAME FOR YEARSUNTIL LEAVE FROM X
REGRETION USED
ONE IS CLASSIFIER ONE REGR.

I HAVE TO AUTOMATE ALL

This code builds and trains two neural network models using the Keras library with TensorFlow backend to predict  attrition and time frame for employee departure, respectively, based on the provided dataset.

In [72]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Read the dataset
data_subset = pd.read_csv('/content/IBM-HR-Employee-Attrition.csv')  # Replace 'your_dataset.csv' with the path to your dataset file

data_subset['Attrition'] = data_subset['Attrition'].map({'Yes': 1, 'No': 0})

# Selecting features for attrition prediction
X_attrition = data_subset[['Age', 'DistanceFromHome', 'Education',
                     'JobSatisfaction', 'MonthlyIncome', 'PercentSalaryHike',
                     'TotalWorkingYears', 'YearsAtCompany', 'YearsSinceLastPromotion',
                     'PerformanceRating']]

# Split data into features and target variable for attrition prediction
y_attrition = data_subset['Attrition']

# Split data into training and testing sets for attrition prediction
X_train_attrition, X_test_attrition, y_train_attrition, y_test_attrition = train_test_split(X_attrition, y_attrition, test_size=0.2, random_state=42)

# Data scaling for attrition prediction
scaler_attrition = StandardScaler()
X_train_attrition_scaled = scaler_attrition.fit_transform(X_train_attrition)
X_test_attrition_scaled = scaler_attrition.transform(X_test_attrition)

# Define the neural network model for attrition prediction
model_attrition2 = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_attrition_scaled.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

# Compile the model for attrition prediction
model_attrition2.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model for attrition prediction
model_attrition2.fit(X_train_attrition_scaled, y_train_attrition, epochs=50, batch_size=32, verbose=1)

# Evaluate the model for attrition prediction
loss_attrition, accuracy_attrition = model_attrition2.evaluate(X_test_attrition_scaled, y_test_attrition, verbose=0)
print(f'Attrition Prediction Loss: {loss_attrition}, Accuracy: {accuracy_attrition}')

# Calculate 'YearsUntilLeave'
#########data_subset['YearsUntilLeave'] = data_subset['TotalWorkingYears'] - data_subset['YearsAtCompany']

# Selecting features for time frame prediction
X_timeframe = data_subset[['Age', 'DistanceFromHome', 'Education',
                     'JobSatisfaction', 'MonthlyIncome', 'PercentSalaryHike', 'YearsSinceLastPromotion',
                     'PerformanceRating', 'Attrition', 'EnvironmentSatisfaction', 'NumCompaniesWorked','TotalWorkingYears' ]]

# Target variable for time frame prediction
y_timeframe = data_subset['YearsAtCompany']


# Split data into training and testing sets for time frame prediction
X_train_timeframe, X_test_timeframe, y_train_timeframe, y_test_timeframe = train_test_split(X_timeframe, y_timeframe, test_size=0.2, random_state=42)

# Data scaling for time frame prediction
scaler_timeframe = StandardScaler()
X_train_timeframe_scaled = scaler_timeframe.fit_transform(X_train_timeframe)
X_test_timeframe_scaled = scaler_timeframe.transform(X_test_timeframe)

# Define the neural network model for time frame prediction
model_timeframe2 = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_timeframe_scaled.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='linear')
])

# Compile the model for time frame prediction
model_timeframe2.compile(optimizer='adam', loss='mean_squared_error')

# Train the model for time frame prediction
model_timeframe2.fit(X_train_timeframe_scaled, y_train_timeframe, epochs=50, batch_size=32, verbose=1)

# Evaluate the model for time frame prediction
loss_timeframe = model_timeframe2.evaluate(X_test_timeframe_scaled, y_test_timeframe, verbose=0)
print(f'Time Frame Prediction Loss: {loss_timeframe}')

Epoch 1/50
37/37 [==============================] - 2s 3ms/step - loss: 0.5667 - accuracy: 0.7670
Epoch 2/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4685 - accuracy: 0.8316
Epoch 3/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4481 - accuracy: 0.8316
Epoch 4/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4354 - accuracy: 0.8316
Epoch 5/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4263 - accuracy: 0.8316
Epoch 6/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4194 - accuracy: 0.8333
Epoch 7/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4133 - accuracy: 0.8325
Epoch 8/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4071 - accuracy: 0.8367
Epoch 9/50
37/37 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.8418
Epoch 10/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3997 - accuracy: 0.8410
Epoch 11/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8427
Epoch 12/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3927 - accuracy: 0.8461
Epoch 13/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8427
Epoch 14/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3858 - accuracy: 0.8418
Epoch 15/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3883 - accuracy: 0.8427
Epoch 16/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3824 - accuracy: 0.8418
Epoch 17/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3811 - accuracy: 0.8427
Epoch 18/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3770 - accuracy: 0.8435
Epoch 19/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3748 - accuracy: 0.8418
Epoch 20/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3750 - accuracy: 0.8401
Epoch 21/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3707 - accuracy: 0.8435
Epoch 22/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3709 - accuracy: 0.8427
Epoch 23/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3665 - accuracy: 0.8427
Epoch 24/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3644 - accuracy: 0.8478
Epoch 25/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3642 - accuracy: 0.8503
Epoch 26/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3607 - accuracy: 0.8444
Epoch 27/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3585 - accuracy: 0.8469
Epoch 28/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3576 - accuracy: 0.8495
Epoch 29/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8478
Epoch 30/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3522 - accuracy: 0.8452
Epoch 31/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8478
Epoch 32/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3462 - accuracy: 0.8486
Epoch 33/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3459 - accuracy: 0.8495
Epoch 34/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8512
Epoch 35/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8495
Epoch 36/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8444
Epoch 37/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8512
Epoch 38/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8571
Epoch 39/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8597
Epoch 40/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8546
Epoch 41/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3279 - accuracy: 0.8614
Epoch 42/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3283 - accuracy: 0.8614
Epoch 43/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8563
Epoch 44/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3234 - accuracy: 0.8597
Epoch 45/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3213 - accuracy: 0.8588
Epoch 46/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3194 - accuracy: 0.8656
Epoch 47/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3164 - accuracy: 0.8614
Epoch 48/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3134 - accuracy: 0.8622
Epoch 49/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.8665
Epoch 50/50
37/37 [==============================] - 0s 2ms/step - loss: 0.3097 - accuracy: 0.8665
Attrition Prediction Loss: 0.380636602640152, Accuracy: 0.8673469424247742
Epoch 1/50
37/37 [==============================] - 1s 2ms/step - loss: 66.5697
Epoch 2/50
37/37 [==============================] - 0s 2ms/step - loss: 39.5431
Epoch 3/50
37/37 [==============================] - 0s 2ms/step - loss: 23.7300
Epoch 4/50
37/37 [==============================] - 0s 2ms/step - loss: 19.2321
Epoch 5/50
37/37 [==============================] - 0s 2ms/step - loss: 17.3648
Epoch 6/50
37/37 [==============================] - 0s 2ms/step - loss: 16.4358
Epoch 7/50
37/37 [==============================] - 0s 2ms/step - loss: 15.7853
Epoch 8/50
37/37 [==============================] - 0s 2ms/step - loss: 15.1144
Epoch 9/50
37/37 [==============================] - 0s 2ms/step - loss: 14.6324
Epoch 10/50
37/37 [==============================] - 0s 2ms/step - loss: 14.0349
Epoch 11/50
37/37 [==============================] - 0s 2ms/step - loss: 13.6026
Epoch 12/50
37/37 [==============================] - 0s 2ms/step - loss: 13.1512
Epoch 13/50
37/37 [==============================] - 0s 2ms/step - loss: 12.7196
Epoch 14/50
37/37 [==============================] - 0s 2ms/step - loss: 12.2938
Epoch 15/50
37/37 [==============================] - 0s 2ms/step - loss: 11.8944
Epoch 16/50
37/37 [==============================] - 0s 2ms/step - loss: 11.5847
Epoch 17/50
37/37 [==============================] - 0s 2ms/step - loss: 11.2879
Epoch 18/50
37/37 [==============================] - 0s 2ms/step - loss: 10.9264
Epoch 19/50
37/37 [==============================] - 0s 2ms/step - loss: 10.6661
Epoch 20/50
37/37 [==============================] - 0s 2ms/step - loss: 10.3926
Epoch 21/50
37/37 [==============================] - 0s 2ms/step - loss: 10.1635
Epoch 22/50
37/37 [==============================] - 0s 2ms/step - loss: 9.9171
Epoch 23/50
37/37 [==============================] - 0s 2ms/step - loss: 9.7672
Epoch 24/50
37/37 [==============================] - 0s 2ms/step - loss: 9.6678
Epoch 25/50
37/37 [==============================] - 0s 2ms/step - loss: 9.4115
Epoch 26/50
37/37 [==============================] - 0s 2ms/step - loss: 9.2884
Epoch 27/50
37/37 [==============================] - 0s 2ms/step - loss: 9.1357
Epoch 28/50
37/37 [==============================] - 0s 2ms/step - loss: 9.0039
Epoch 29/50
37/37 [==============================] - 0s 2ms/step - loss: 8.9566
Epoch 30/50
37/37 [==============================] - 0s 2ms/step - loss: 8.7366
Epoch 31/50
37/37 [==============================] - 0s 2ms/step - loss: 8.6683
Epoch 32/50
37/37 [==============================] - 0s 2ms/step - loss: 8.4874
Epoch 33/50
37/37 [==============================] - 0s 2ms/step - loss: 8.3772
Epoch 34/50
37/37 [==============================] - 0s 2ms/step - loss: 8.2274
Epoch 35/50
37/37 [==============================] - 0s 2ms/step - loss: 8.1397
Epoch 36/50
37/37 [==============================] - 0s 2ms/step - loss: 8.0836
Epoch 37/50
37/37 [==============================] - 0s 2ms/step - loss: 7.9041
Epoch 38/50
37/37 [==============================] - 0s 2ms/step - loss: 7.8125
Epoch 39/50
37/37 [==============================] - 0s 2ms/step - loss: 7.6726
Epoch 40/50
37/37 [==============================] - 0s 2ms/step - loss: 7.6330
Epoch 41/50
37/37 [==============================] - 0s 2ms/step - loss: 7.4511
Epoch 42/50
37/37 [==============================] - 0s 2ms/step - loss: 7.3024
Epoch 43/50
37/37 [==============================] - 0s 2ms/step - loss: 7.2232
Epoch 44/50
37/37 [==============================] - 0s 2ms/step - loss: 7.1072
Epoch 45/50
37/37 [==============================] - 0s 2ms/step - loss: 6.9193
Epoch 46/50
37/37 [==============================] - 0s 2ms/step - loss: 6.8293
Epoch 47/50
37/37 [==============================] - 0s 2ms/step - loss: 6.7800
Epoch 48/50
37/37 [==============================] - 0s 2ms/step - loss: 6.6396
Epoch 49/50
37/37 [==============================] - 0s 2ms/step - loss: 6.5864
Epoch 50/50
37/37 [==============================] - 0s 2ms/step - loss: 6.4377
Time Frame Prediction Loss: 9.820038795471191

In [73]:
# Evaluate model performance on validation or test dataset
evaluation_result = model_timeframe2.evaluate(X_test_timeframe_scaled, y_test_timeframe)
evaluation_result2 = model_attrition2.evaluate(X_test_attrition_scaled, y_test_attrition)

print("Evaluation Result:")
print(f"Loss: {evaluation_result}")
print("Evaluation2 Result:")
print(f"Loss: {evaluation_result2}")

10/10 [==============================] - 0s 3ms/step - loss: 9.8200
10/10 [==============================] - 0s 3ms/step - loss: 0.3806 - accuracy: 0.8673
Evaluation Result:
Loss: 9.820038795471191
Evaluation2 Result:
Loss: [0.380636602640152, 0.8673469424247742]

Both evaluations show very low loss values, with the second evaluation indicating perfect accuracy. This suggests that the model performs well on the given test dataset.

In [74]:
# Save the model for attrition prediction
model_attrition2.save('akylar_attrition_prediction_model7.keras')

# Save the model for time frame prediction
model_timeframe2.save('akylar_time_frame_prediction_model7.keras')

In [ ]:
############# applying new model

## NOW WE WILL EXPLORE HOW TO APPLY THESE MODELS WITH EXTRA ADDITIONS TO HAVE A MORE CLEAR OUTCOME

we will have columns in the trained data set that do not exist in the new employees data set so we have to be mindfull of how to add them and alter them

To apply your trained model for predicting attrition and time frame for new employees using the saved models, follow these steps:

After loading the models and loading your new csv file you should :
1. Add a placeholder value for the 'Attrition' column in the new dataset.
2. Preprocess the new data for attrition prediction, ensuring to select the relevant features and scale them using the previously fitted scalers.
3. Predict attrition for the new employees and convert the predictions to binary values.
4. Add the predicted attrition column to the new dataset.
5. Select features for time frame prediction, excluding 'YearsUntilLeave'and Scale the new data for time frame prediction using the previously fitted scaler.
6. Predict the time frame for new employees.
7. Adjust the predicted attrition based on the predicted time frame. (time > 2 years attrition is no, else yes)

In [75]:
from keras.models import load_model
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the saved models
model_attrition = load_model('akylar_attrition_prediction_model7.keras')
model_timeframe = load_model('akylar_time_frame_prediction_model7.keras')

# Read the new dataset
new_data = pd.read_csv('/content/machine_test_data.csv')



# Preprocess the new data for prediction
X_new_attrition = new_data[['Age', 'DistanceFromHome', 'Education',
                             'JobSatisfaction', 'MonthlyIncome', 'PercentSalaryHike',
                             'TotalWorkingYears', 'YearsAtCompany', 'YearsSinceLastPromotion',
                             'PerformanceRating']]

# Scale the new data for attrition prediction using the same scaler used for training
scaler_attrition = StandardScaler()
X_new_attrition_scaled = scaler_attrition.fit_transform(X_new_attrition)

# Predict attrition for new employees
attrition_predictions = model_attrition.predict(X_new_attrition_scaled)
# Add a placeholder value for the 'Attrition' column
new_data['Attrition'] = attrition_predictions  # VALUE DOES



# Select features for time frame prediction, excluding 'YearsUntilLeave'
X_new_timeframe = new_data[['Age', 'DistanceFromHome', 'Education',
                     'JobSatisfaction', 'MonthlyIncome', 'PercentSalaryHike', 'YearsSinceLastPromotion',
                     'PerformanceRating', 'Attrition', 'EnvironmentSatisfaction', 'NumCompaniesWorked','TotalWorkingYears']]

# Scale the new data for time frame prediction using the same scaler used for training
scaler_timeframe = StandardScaler()
X_new_timeframe_scaled = scaler_timeframe.fit_transform(X_new_timeframe)

# Predict time frame for new employees
timeframe_predictions = model_timeframe.predict(X_new_timeframe_scaled)

# Threshold for years until leave to determine attrition
threshold_years = 2

# Adjust Attrition_Predicted based on Timeframe_Predicted
new_data['Timeframe_Predicted'] = timeframe_predictions
new_data['Attrition_Predicted'] = ['No' if years > threshold_years else 'Yes' for years in new_data['Timeframe_Predicted']]
# Print the new dataset with predicted columns
new_data

4/4 [==============================] - 0s 3ms/step
4/4 [==============================] - 0s 4ms/step

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,Timeframe_Predicted,Attrition_Predicted
0,28,Travel_Rarely,866,Sales,5,3,Medical,1,1469,4,Male,84,3,2,Sales Executive,1,Single,8463,23490,0,Y,No,18,3,4,80,0,6,4,3,5,4,1,3,0.330626,4.662228,No
1,53,Travel_Rarely,1084,Research & Development,13,2,Medical,1,250,4,Female,57,4,2,Manufacturing Director,1,Divorced,4450,26250,1,Y,No,11,3,3,80,2,5,3,3,4,2,1,3,0.161792,5.359189,No
2,24,Travel_Rarely,240,Human Resources,22,1,Human Resources,1,1714,4,Male,58,1,1,Human Resources,3,Married,1555,11585,1,Y,No,11,3,3,80,1,1,2,3,1,0,0,0,0.675899,0.886574,Yes
3,45,Travel_Rarely,1339,Research & Development,7,3,Life Sciences,1,86,2,Male,59,3,3,Research Scientist,1,Divorced,9724,18787,2,Y,No,17,3,3,80,1,25,2,3,1,0,0,0,0.087458,13.193353,No
4,36,Travel_Rarely,1396,Research & Development,5,2,Life Sciences,1,304,4,Male,62,3,2,Laboratory Technician,2,Single,5914,9945,8,Y,No,16,3,4,80,0,16,3,4,13,11,3,7,0.055776,11.033677,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,31,Travel_Rarely,1232,Research & Development,7,4,Medical,1,462,3,Female,39,3,3,Manufacturing Director,4,Single,7143,25713,1,Y,Yes,14,3,3,80,0,11,2,2,11,9,4,10,0.070509,9.712318,No
96,29,Travel_Rarely,1246,Sales,19,3,Life Sciences,1,1497,3,Male,77,2,2,Sales Executive,3,Divorced,8620,23757,1,Y,No,14,3,3,80,2,10,3,3,10,7,0,4,0.023441,9.335919,No
97,37,Non-Travel,1063,Research & Development,25,5,Medical,1,529,2,Female,72,3,2,Research Scientist,3,Married,4449,23866,3,Y,Yes,15,3,1,80,2,15,2,3,13,11,10,7,0.357805,14.045919,No
98,47,Travel_Rarely,571,Sales,14,3,Medical,1,1503,3,Female,78,3,2,Sales Executive,3,Married,4591,24200,3,Y,Yes,17,3,3,80,1,11,4,2,5,4,1,2,0.127043,3.318918,No
99,46,Travel_Rarely,1125,Sales,10,3,Marketing,1,580,3,Female,94,2,3,Sales Executive,4,Married,9071,11563,2,Y,Yes,19,3,3,80,1,15,3,3,3,2,1,2,0.029923,7.038484,No

In [82]:
attrition_counts_main_df = data_subset['Attrition'].value_counts()

# Print the counts
print("Attrition Predicted Counts:")
print(attrition_counts_main_df)

Attrition Predicted Counts:
0    1233
1     237
Name: Attrition, dtype: int64

In [83]:
attrition_counts_sample_df = new_data['Attrition_Predicted'].value_counts()

# Print the counts
print("Attrition Predicted Counts:")
print(attrition_counts_sample_df)

Attrition Predicted Counts:
No     84
Yes    16
Name: Attrition_Predicted, dtype: int64

In [91]:
#ratio for both dataset attrition
print(attrition_counts_main_df[1]/ attrition_counts_main_df[0] *100)
print(attrition_counts_sample_df[1]/ attrition_counts_sample_df[0] *100)

19.22141119221411
19.047619047619047