In [14]:
from keras.models import load_model
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib

# Load the saved models
model_timeframe = load_model('/content/best_timeframe_model_final1.keras')

# Read the new dataset
new_data = pd.read_csv('/content/machine_test_data.csv')

# Add 'Attrition' column with a random value to match features of algorithm
new_data['Attrition'] = 333

# Select features for time frame prediction
X_new_timeframe = new_data[['Age', 'DistanceFromHome', 'Education','DailyRate','HourlyRate', 'JobInvolvement',
                           'JobSatisfaction', 'MonthlyIncome', 'PercentSalaryHike','WorkLifeBalance',
                           'YearsSinceLastPromotion', 'PerformanceRating', 'YearsInCurrentRole','YearsWithCurrManager',
                           'EnvironmentSatisfaction', 'NumCompaniesWorked','TotalWorkingYears','Attrition']]

# Scale the new data for time frame prediction using a new scaler
scaler_timeframe = StandardScaler()
X_new_timeframe_scaled = scaler_timeframe.fit_transform(X_new_timeframe)

# Predict time frame for new employees
timeframe_predictions = model_timeframe.predict(X_new_timeframe_scaled)

# Threshold for years until leave to determine attrition
threshold_years = 3

# Update 'Attrition' column based on predicted time frame
new_data['Timeframe_Predicted'] = timeframe_predictions
new_data['Attrition_Predicted'] = ['No' if years > threshold_years else 'Yes' for years in new_data['Timeframe_Predicted']]
new_data.drop(columns=['Attrition'], inplace=True)
# Print the new dataset with predicted columns
new_data

4/4 [==============================] - 0s 4ms/step

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Timeframe_Predicted,Attrition_Predicted
0,28,Travel_Rarely,866,Sales,5,3,Medical,1,1469,4,...,0,6,4,3,5,4,1,3,9.697755,No
1,53,Travel_Rarely,1084,Research & Development,13,2,Medical,1,250,4,...,2,5,3,3,4,2,1,3,8.500626,No
2,24,Travel_Rarely,240,Human Resources,22,1,Human Resources,1,1714,4,...,1,1,2,3,1,0,0,0,9.775890,No
3,45,Travel_Rarely,1339,Research & Development,7,3,Life Sciences,1,86,2,...,1,25,2,3,1,0,0,0,0.875754,Yes
4,36,Travel_Rarely,1396,Research & Development,5,2,Life Sciences,1,304,4,...,0,16,3,4,13,11,3,7,8.573595,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,31,Travel_Rarely,1232,Research & Development,7,4,Medical,1,462,3,...,0,11,2,2,11,9,4,10,9.309310,No
96,29,Travel_Rarely,1246,Sales,19,3,Life Sciences,1,1497,3,...,2,10,3,3,10,7,0,4,5.943735,No
97,37,Non-Travel,1063,Research & Development,25,5,Medical,1,529,2,...,2,15,2,3,13,11,10,7,6.608985,No
98,47,Travel_Rarely,571,Sales,14,3,Medical,1,1503,3,...,1,11,4,2,5,4,1,2,4.319707,No
99,46,Travel_Rarely,1125,Sales,10,3,Marketing,1,580,3,...,1,15,3,3,3,2,1,2,4.514671,No

In [15]:
new_data.to_csv('/content/new_data_predicted_final.csv', index=False)